@model IEnumerable<Models.Inventory>

@{
    ViewData["Title"] = "Ordering";
}

<h1>Add to Order</h1>

<p>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</p>
<form asp-action="Create">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Item)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <div>
                            <input type="number" name=@item.Item.Id>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Order" />
</form>
