@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Impossible Ingrediants</h1>
    <p>Here we sell the products you cant just buy in stores</p>


    <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Login</a>
    <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Create">Register</a>
    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
</div>

